{% extends 'base.html.twig' %}

{% block title %} Vacancies {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Vacancies</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Vacancies</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Title
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for vacancy in pagination %}
                    <tr>
                        <td>{{ vacancy.id }}</td>
                        <td>{{ vacancy.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
